.odd {
  background-color: rgb(255, 138, 146);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font {
    
}
#two {
    color: blue;
    font-size: 36px
}

#three {
    font-size: 24px
}
#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}